
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="#" class="h1"><b>Jk </b>Fitness</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form id="formId" method="post">
            <div class="input-group mb-3">
                @*<input type="hidden" id="msg" data-value="@ViewBag.Msg">*@
                <input type="text" class="form-control" id="UsrName" placeholder="UserName">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="Pasword" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <button type="button" id="SignIn" class="btn btn-primary btn-block">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="ResetPasswordModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update Password</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="Cancel()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="formUser" class="form-horizontal form-label-left" enctype="multipart/form-data">
                            <input type="hidden" id="EmployeeId" />
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Current Password</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="CurPassword" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Password</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">ConfirmPassword</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="ConfirmPassword" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                    <button type="button" id="btnPwdUpdate" class="btn btn-success">Update Password</button>
                                    <button type="button" onclick="Cancel()" class="btn btn-warning">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('#SignIn').click(function () {

        var username = $('#UsrName').val();
        var password = $('#Pasword').val();

        if (username.trim() == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill out UserName Field!',
            });
        }
        else if (password.trim() == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill out PassWord Field!',
            });
        }
        else {
            $.ajax({
                type: 'POST',
                url:'@Url.Action("ValidateLogin", "Login")',
                dataType: 'json',
                data: '{"Email":" ' + username + ' ","Password":" ' + password + ' "}',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    var myData = jQuery.parseJSON(JSON.stringify(response));
                    if (myData.code == "1") {
                        var Result = myData.data;
                        if (Result.isFirstTime) {
                            $('#ResetPasswordModel').modal('show');
                            $("#EmployeeId").val(Result['employeeId']);
                        }
                        else {
                            window.location.replace('@Url.Action("Index", "Home")');
                        }
                    } else if (myData.code == "0" && myData.message =="Invalid") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Invalid Login Credentials!',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                },
                error: function (jqXHR, exception) {
                }
            });
        }

    });

    $('#btnPwdUpdate').click(function () {
        var EmpID = $('#EmployeeId').val();
        var CurPwd = $('#CurPassword').val();
        var Pwd = $('#Password').val();
        var ConPwd = $('#ConfirmPassword').val();

        if (Pwd.trim() == ConPwd.trim()) {

                $.ajax({
                type: 'POST',
                url:'@Url.Action("ConfirmPassword", "Login")',
                dataType: 'json',
                data: '{"EmployeeId":" ' + EmpID + ' ","Password":" ' + CurPwd + ' "}',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {

                    var myData = jQuery.parseJSON(JSON.stringify(response));
                    if (myData.code == "1") {

                        $.ajax({
                        type: 'POST',
                        url:'@Url.Action("UpdatePassword", "Login")',
                        dataType: 'json',
                        data: '{"EmployeeId":" ' + EmpID + ' ","Password":" ' + Pwd + ' "}',
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            var myData = jQuery.parseJSON(JSON.stringify(response));
                            if (myData.code = "1") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Updated!',
                                    text: 'Successfully Password Updated!',
                                });
                                window.location.replace('@Url.Action("Index", "Home")');
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Update Failed!',
                                });
                            }
                        },
                        error: function (jqXHR, exception) {
                        }
                        });


                    } else if (myData.code == "0" && myData.message =="Invalid") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Invalid Login Credentials!',
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                },
                error: function (jqXHR, exception) {
                }
            });


        } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Password Does not Match!',
            });
        }
    });

    function Cancel() {
        $('#ResetPasswordModel').modal('show');
        window.location.replace('@Url.Action("Index", "Home")');
    }

</script>